<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoWebkit-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AutoWebkitPackageTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AutoWebkit::AutoWebkit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AutoWebkit::AutoWebkitPackageTests::ProductTarget</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AutoWebkit::AutoWebkitTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SwiftSoup::SwiftSoup</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
